<div class="container">
	<h1><%= @book.title%></h1>
	<h3><b>Autor:</b> <%= @autor %></h3>
	<p><b>Ciudad:</b> <%= @book.city %></p>
	<p><b>Editorial:</b> <%= @book.editorial %></p>
	<p><b>Temas:</b>
	<% @topics.each do |topic| %>
		<span><%= topic.name %>, </span>
		<% end %> 
	</p>
	<h3>Citas textuales</h3>
	<ul>
		<% @cites.each do |cite| %>
		<li><%= cite.content %></li>
		<% end %>
	</ul>
	<h3>Notas personales</h3>
	<ul>
		<% @notes.each do |note| %>
		<li><%= note.content %></li>
		<% end %>
	</ul>



</div>
