<div class="container">
	<h1><%= @book.title.upcase%></h1>
	<h4>Autor: <%= @autor %></h4>
	<p><b>Ciudad:</b> <%= @book.city %></p>
	<p><b>Editorial:</b> <%= @book.editorial %></p>
	<p><b>Temas:</b>
	<% @topics.each do |topic| %>
		<span><%= topic.name %>, </span>
		<% end %> 
	</p>
	<h3>Citas textuales</h3>
	<ul>
		<% @cites.each do |cite| %>
		<li><em><q><%= cite.content %></q>	</em></li>
		<% end %>
	</ul>
	<h3>Notas personales</h3>
	<p class="personal-notes"><%= markdown(@book.notes) %></p>
	 



</div>
