<body class="text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
    <%= render "layouts/alerts" %>
    <%= image_tag("book-logo.png", width: '200', height: '200', class: "mb-4") %>
    <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
    <label for="inputEmail" class="sr-only">Correo electrónico</label>

    <%= f.email_field :email, id: "inputEmail", class: "form-control", placeholder: "Email", autofocus: true %>

    <label for="inputPassword" class="sr-only">Contraseña</label>

    <%= f.password_field :password, id: "inputPassword", autocomplete: "current-password", class: "form-control", placeholder: "Contraseña" %>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me, value: "remember-me" %>
        <%= f.label :remember_me, "Recordarme" %>
      </div>
    <% end -%>

    <%= f.submit "Iniciar sesión", class: "btn btn-lg btn-primary btn-block" %>

    <%= render "devise/shared/links" %>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
  <% end %>
</body>